/* Home 
	border: black 1px solid;

	COLORS: 
	f9a11b (orange)
	00847f (dark teal)
	3fc1c0 (light teal)
	7cc24d (green)
*/

html{
	
}
body{
	margin: 0px;
	
}


.hannah{
	
	height: 100vh;
	z-index: 1;
	position: absolute;
}

.top-bar{
	background-color: rgba(255, 255, 255, .8);
	z-index:2;
	width: 100%;
	height: 140px;
	position: absolute;

}

.logo{
	z-index: 3;
	position: absolute;
	width: 200px;
	padding: 30px;

}

nav{
	z-index: 3;
	position: absolute;
	padding-right: 0px;
	right:30px;
	padding-top: 20px;


}

nav ul{
	list-style: none;
		margin-left: 0px;

}

nav ul li{
	font-family: helvetica, sans-serif;
	color:#00847f;
	float: left;
	padding: 20px;
	cursor:pointer;
	font-weight: lighter;
	font-size: 16px;
}

nav ul li:hover{
	color: #7cc24d;
	font-weight: bold;
}

.wrap {
	z-index: 3;
	position: absolute;
	padding:30px;
	padding-top: 275px;
	padding-left: 60px;
}

.wrap h1{
	font-family: helvetica;
	color: white;
	font-weight: lighter;
	font-size: 90px;
	margin-bottom: 10px;
	letter-spacing: -2px;
}

.wrap h2{
	font-family: "Baskerville";
	color: white;
	font-weight: lighter;
	font-style: italic;
	font-size: 40px;
	margin-top: 15px;
}



footer{
	background-color: #3fc1c0;
	position: absolute;
	width: 100%;
	height: 80px;
	z-index: 1;
	bottom: 0px;

}


footer .twitter{
	
	float: right;
	padding-right: 30px;
	padding-top: 25px;


}

footer .facebook{
	float:right;
	padding-right: 15px;
	padding-top: 25px;
}

footer p{
	color:white;
	float: left;
	font-family: helvetica;
	padding: 30px;
	margin: 0px;
}

/* About */

.header{ 
	height:400px;

}
.aboutBody{
	background-image: url(../images/light_grey.png);
	margin: 0px;
}

.xxx{
	width: 100%;
	height: 400px;
	z-index: 1;
	position: absolute;
	overflow:hidden;
}


.aboutWrap{
	width:960px;
	margin:0 auto;
	height:1100px;
	background:white;
}

h3{
	font-family: helvetica;
	color: #00847f;
	font-weight: lighter;
	font-size: 55px;
	margin-top: 420px;
	z-index: 2;
	position: absolute;
	padding-left: 100px;
}

.aboutWrap .column1{
	width: 250px;
	height:100vh;
	position:absolute;
	clear:both;
	padding:100px;



}

.aboutWrap .column1 img{
	float:left;
	width:300px;
	height: 200px;
	padding: 20px;
	margin-top:400px;
	padding-left: 0px;
}

.aboutWrap .column1 p{
	position: relative;
	margin: 0px;
	font-family: helvetica;
	bottom: 0px;
	padding-bottom: 100px;
	font-size: 11pt;
	font-weight: lighter;
	z-index: 1;
	line-height: 15pt;

}

.aboutWrap .column2{
	width:250px;
	height:100vh;
	float:left;
	position: absolute;
	right:0px;
	margin-right: 200px;
	padding: 100px;
	padding-top: 100px;
	padding-left: 75px;


}


.aboutWrap .column2 img{
	float:left;
	width:300px;
	height: 200px;
	padding:20px;
	margin-top:400px;
	padding-left: 0px;
}

.aboutWrap .column2 p{
	bottom: 0px;
	margin: 0px;
	position: relative;
	font-family: helvetica;
	padding-bottom: 100px;
	font-size: 11pt;
	font-weight: lighter;
	z-index: 1;
	line-height: 15pt;

}

h4{
	font-family: helvetica;
	text-transform: uppercase;
	color:#00847f;
	font-size: 20px;
	position: static;
	line-height: 10px;
}

.aboutFooter{
	background-color: #3fc1c0;
	position: absolute;
	width: 100%;
	height: 80px;
	z-index: 1;
}


.aboutFooter .twitter{
	
	float: right;
	padding-right: 30px;
	padding-top: 25px;


}

.aboutFooter .facebook{
	float:right;
	padding-right: 15px;
	padding-top: 25px;
}

.aboutFooter p{
	color:white;
	float: left;
	font-family: helvetica;
	padding: 30px;
	margin: 0px;
}

